html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Toxin/Sign in
    body
        include partials/header/header
        include partials/footer/footer