main.main
    .main__signin
        form
            h1 Войти
            input.field(type="email" placeholder='Email')
            input.field(type="password" placeholder='Пароль')
            button.button.form-button.button-arrow-right перейти к оплате
        a(href="signin.html"): span.main__login Нет аккаунта на Toxin?
        a(href="signin.html"): .bg-button: button.button.button--login создать


