.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-style: none;
  border-radius: 22px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 20px;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.bg-button {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  padding: 2px;
}

.button--login {
  color: #BC9CFF;
  background: #FFFFFF;
}

.button--sign {
  color: #FFFFFF;
}

.form-button {
  padding: 15px 20px;
  width: 320px;
  margin-top: 10px;
}